
@{
    ViewBag.Title = "QuizPage";
}
<h2>QuizPage</h2>
@*@using(Html.BeginForm(FormMethod.Post)) {
    <buttion class="btn-primary" id="Starttext" >Statrt</buttion>

}
<script>
    $(document).ready(function () {
        $("Starttext").click(function () {
            var id = 1;
            $.ajax({
                method:""
            })
        });
    });
</script>*@

